.datepicker {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datepicker__wrapper {
  display: flex;
  align-items: center;
}

.datepicker__field {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}
